.produtos{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.produtos__cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.produtos__cabecalho--titulo{
    font-size: 32px;
    font-weight: 700;
    color: var(--cinza-escuro);
}

.produtos__cabecalho--link{
    font-weight: 700;
    color: var(--azul-padrao);
    background-color: transparent;
    border: 0;
    text-decoration: none;
}

.produtos__itens{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.produtos__card{
    display: flex;
    flex-direction: column;
    margin-right: 0.5rem;
}

.produtos__card:last-child{
    margin-right: 0;
}

.produtos__card--nome{
    font-size: 14px;
    font-weight: 500;
    color: var(--cinza-escuro);
    margin: 0.5rem 0;
}

.produtos__card--preco{
    font-weight: 700;
    color: var(--cinza-escuro);
}

.produtos__card--link{
    text-align: start;
    margin: 0.5rem 0;
    font-weight: 700;
    color: var(--azul-padrao);
    background-color: transparent;
    border: 0;
    padding-left: 0;
    text-decoration: none;
}

.produtos__cabecalho--add{
    font-family: var(--fonte-padrao);
    color: var(--branco);
    background-color: var(--azul-padrao);
    padding: 0.75rem;
    border: 0;
    text-decoration: none;
}

.produtos__card--code{
    font-size: 12px;
    font-weight: 500;
    color: var(--cinza-escuro);
    margin: 0.5rem 0;
}


/* Responsivo para Monitores Menores */
@media screen and (max-width: 1200px){
    .produtos__card:nth-last-child(-n+1){
        display: none;
    }
    .container{
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

/* Responsivo para Tablet */
@media screen and (max-width: 1024px){
    .produtos__card:nth-last-child(-n+2){
        display: none;
    }

    .produtos__cabecalho--titulo{
        font-size: 22px;
    }
}

/* Responsivo para mobile */
@media screen and (max-width: 768px){

    .produtos__cabecalho{
        flex-wrap: wrap;
    }

    .produtos__cabecalho--titulo{
        margin-bottom: 1rem;
    }

    .produtos__card:nth-last-child(-n+2){
        display: none;
    }

    .produtos__itens{
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 0;
    }

    .produtos__card{
        width: 140px;
    }
}

