:root{
    --fonte-padrao: 'Raleway', sans-serif;
    --cinza-claro: #F5F5F5;
    --branco: #FFFFFF;
    --azul-padrao: #2A7AE4;
}

body{
    font-family: var(--fonte-padrao);
    font-size: 16px;
    font-weight: 400;
}

.container{
    padding-right: 10vw;
    padding-left: 10vw;
}

@media screen and (max-width: 1024px){
    .container{
        padding-right: 1rem;
        padding-left: 1rem;
    }
}
