@import url(./css/banner-home.css);
@import url(./css/menu-home.css);
@import url(./css/produtos-home.css);
@import url(./css/rodape.css);

:root{
    --fonte-padrao: 'Raleway';
    --cinza-claro: #F5F5F5;
    --branco: #FFFFFF;
    --azul-padrao: #2A7AE4;
    --cinza-escuro: #464646;
    --azul-claro: #EAF2FD;
    --cinza: #c8c8c8;
}

body{
    font-family: var(--fonte-padrao);
    font-size: 16px;
    font-weight: 400;
    background-color: var(--cinza-claro);
}

button:hover{
    opacity: 0.8;
    transition: 0.3s;
}

a:hover{
    opacity: 0.8;
    transition: 0.3s;
    text-decoration: underline;
}

.container{
    padding-right: 10vw;
    padding-left: 10vw;
}

@media screen and (max-width: 1200px){
    .container{
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

@media screen and (max-width: 1024px){
    .container{
        padding-right: 1rem;
        padding-left: 1rem;
    }
}
